*{
    margin: 0;
    padding: 0;
    
   }
   .titulo h1{
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    }
    
    .hola{
    background-color: #ffc554 ;
    background-attachment: fixed ;
    align-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
   }
    
       

    .contenedor > div {
    background: white;
    padding: 10px;
    border: 1px solid #000000;
    }
    
   .contenedor .sub,
   .contenido > .articulo{
    background: white;
    padding: 8px;
    margin-top: 10px;
    
    
   }
   .img {
    display: block;
    margin: auto;
    
   }
   .contenido .articulo h1,
   .contenido .articulo p{
    padding: 10px;
   }
   .grid-contenedor{
   display: grid;
   background-color: black;
   grid-template-columns: auto auto auto auto;
   }

   .grid-contenedor div{
       background-color: white ;
       text-align: center;
       color:black;
       border:2px solid #ffc554
   }

   .center {
    justify-content: center;
    text-align: center;
    display: grid;
   }