* {
    margin: 0;
    padding: 0
}

body {
    
    background-image: url(fon3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin:auto;
    height: 150 vh;
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

.content {
    
    text-align: center;
    background-color: rgb(10, 10, 10);
    background-color: #24303c;
    color: #fff;
    padding: 40px;
    font-family: Arial, sans-serif
    
}




#busqueda {
    background-position: 10px 10px;
    width: 100%;
    font-size: 16px;
    color: #fff;
}

.content {
text-align: center;
    background-color: #24303c;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif
}