body{
   
    text-align: center; 
    background-color: rgb(153, 152, 152);
    background-position: center;
    font-family: Comic Sans Ms;
    color: black;
    font-size: 10px;
}

.practica{
    border-radius: 10px;
    text-align: justify;
    margin: auto;
    padding: auto;
    padding: 10px;
}

.practica1{
    border-radius: 10px;
    text-align: justify;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}


button{
    text-decoration: none;
    display:block;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: red;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid red;
    
}

.emcabezado{
    background-color: #24303c;
    margin: auto;
    font-size: 16px;
    color:red;
}

